@import '@/styles/variables';

.container {
  display: flex;
  flex-direction: column;
  gap: 40px;

  .companyContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 40px;

    .info {
      display: flex;
      flex-direction: column;
      gap: 10px;

      span {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
      }
    }

    .btns {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 40px;

      .btnAction {
        position: relative;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;
        border: 2px solid white;
        border-radius: 20px;
        padding: 10px 20px;

        svg {
          width: 40px;
          height: 40px;
        }
      }
    }

    .map {
      display: flex;
    }
  }

  .webDevContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: $breakpoint-medium) {
  .container {
    .companyContainer {
      flex-direction: row;
      flex-wrap: wrap;
      gap: 0;

      .info {
        flex-basis: 50%;
        align-items: center;

        // span {}
      }

      .btns {
        flex-basis: 50%;

        // .btnAction {
        //   svg {}
        // }
      }

      .map {
        flex-basis: 50%;
        display: flex;
        justify-content: center;
        margin-top: 25px;
      }
    }

    // .webDevContainer {}
  }
}

@media (min-width: $breakpoint-large) {
  .container {
    .companyContainer {
      flex-wrap: nowrap;
      justify-content: space-between;

      // .info {
      //   span {}
      // }

      // .btns {
      //   .btnAction {
      //     svg {}
      //   }
      // }

      .map {
        display: flex;
        justify-content: center;
        margin-top: 25px;
      }
    }

    // .webDevContainer {}
  }
}
