@import '@/styles/variables';

.container {
  display: flex;
  flex-direction: column;
  gap: 40px;

  .companyContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .info {
      display: flex;
      flex-direction: column;
    }
  }

  .webDevContainer {
    display: flex;
    justify-content: space-around;
  }
}
